<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>


    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Barlow&amp;family=Barlow+Condensed&amp;family=Gilda+Display&amp;display=swap'>
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <jcms:module:header/>



    <!-- Header Video -->
    <header class="header">
        <div class="video-fullscreen-wrap">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="video-fullscreen-video" data-overlay-darkgray="6">
                <video playsinline="" autoplay="" loop="" muted="">
                    <source src='https://duruthemes.com/demo/html/cappa/video.mp4' type="video/mp4" autoplay="" loop="" muted="">
                    <source src='https://duruthemes.com/demo/html/cappa/video.webm' type="video/webm" autoplay="" loop="" muted="">
                </video>
            </div>

            <div class="v-middle caption overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1"> 
                            <h4>By Ace Hotels</h4>
                            <h1>Your quiet room <br/>in kathmandu Valley</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="eco-friendly">
            <a href="#"><img src="img/eco.png"></a>
        </div>
        
        <!-- arrow down -->
        <!-- <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div> -->
    </header>

    <!-- Booking Search -->
    <jcms:module:booking_undergallery/>



    <!-- About -->
    <jcms:module:home-article/>


    <!-- Rooms -->
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Hotel Ambassador by ACE Hotels</div>
                    <div class="section-title">Rooms & Suites</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <jcms:module:home-packagelist/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing -->
    <section class="pricing section-padding bg-blck">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>Best Prices</span></div>
                    <div class="section-title"><span>Hotel Highlights</span></div>
                    <p class="color-2">The Ambassador combines contemporary design with local craftsmanship to create an atmosphere that is urban yet unique. The hotel offers a diverse range of designed to suit the varying needs of our guest. </p>
                    <p class="color-2">A unique ambience that is inspired by Kathmandu's evolving identity which revels in modernity while preserving its local heritage and tradition.</p>
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        <jcms:module:home-packagelist-service/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Facilties -->
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Our Services</div>
                    <div class="section-title">Hotel Facilities</div>
                </div>
            </div>
            <div class="row">
                <jcms:module:facility-list-home/>
            </div>
        </div>
    </section>

    <!-- Restaurant Menu -->
    <section id="menu" class="restaurant-menu menu section-padding bg-img bg-fixed" data-overlay-dark="3" data-background="template/web/img/slider/2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-subtitle"><span>EXPLORE OUR LEGACY</span></div>
                    <div class="section-title"><span>Our History</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="tabs-icon col-md-10 offset-md-1 text-center">
                            <div class="owl-carousel owl-theme">
                                <div id="tab-1" class="active item">
                                    <h6>1961</h6>
                                </div>
                                <div id="tab-2" class="item">
                                    <h6>1963</h6>
                                </div>
                                <div id="tab-3" class="item">
                                    <h6>1986</h6>
                                </div>
                                <div id="tab-4" class="item">
                                    <h6>2011</h6>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-menu-content col-md-12">
                            <!-- Starters -->
                            <div id="tab-1-content" class="cont active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="menu-info">
                                            <h5>Hotel Ambassador Lodging Path</h5>
                                            <p>The founder of ACE Hotels, Mr. Basanta B. Sakya, turned a residential bungalow into a ten- room hotel at the center of Lazimpat, the diplomatic enclave which was then popularly known as Lodging Path . Flanked on all sides by embassies, the Ambassador became the ideal choice for all expats.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mains -->
                            <div id="tab-2-content" class="cont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="menu-info">
                                            <h5>Excellent service and its Loyal Clientele</h5>
                                            <p>During Queen Elizabeth's first state visit, King Mahendra wanted her to be chauffeured in his Chevrolet Impala from Sheetal Niwas in Maharajgunj to the British Embassy in Lazimpat. But the hotel premises came in the way of the car and the sharp turn leading to the embassy. This was the first royally inspired incursion into the hotel's premises. The ten room bunglow was converted into a forty room hotel that became known for its excellent service and its loyal clientele.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Salads -->
                            <div id="tab-3-content" class="cont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="menu-info">
                                            <h5>Glorious Procession</h5>
                                            <p>During Queen Elizabeth's second state visit, King Birendra opted for a much more elaborate alternative - a six horse-drawn carriage. As the carriage charged its way through Lazimpat, the Ambassador hotel once again humbly offered a part of its premises and retreated back to watch the glorious procession pass by.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Wine -->
                            <div id="tab-4-content" class="cont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="menu-info">
                                            <h5>New Hotel Ambassador</h5>
                                            <p>As the city underwent a massive road expansion project, the Sakya family soon realised that another wave of unexpected change was inevitable. They decided that instead of shrinking back they would start anew. The new Ambassador was built from ground zero and despite all the changes; it now stands tall at the centre of the city as testament to its old and unforgettable legacy.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Faqs -->
    <section class="section-padding bg-cream faq12">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">FAQ'S</div>
                    <div class="section-title">Frequently Asked Questions</div>
                </div>

                <div class="col-md-12">
                    <div class="accordion clearfix" id="accordionExample">
                        <jcms:module:faq:details-homepage/>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="butn-dark"> 
                        <a href="<jcms:module:faqlink/>"><span>View More</span></a> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testiominals -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="template/web/img/slider/2.jpg" data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>Testimonials</h6>
                                <h4>What Client's Say?</h4>
                                <div class="line"></div>
                            </div>
                            <div class="owl-carousel owl-theme">
                                <jcms:module:testimonialList123/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Gallery -->
    <section class="news section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Images</div>
                    <div class="section-title">Image Gallery</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <jcms:module:galleryHome/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Reservation & Booking Form -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="template/web/img/slider/2.jpg" data-overlay-dark="2">
            <div class="container">
                <div class="row">
                    <!-- Reservation -->
                    <div class="col-md-5 mb-30 mt-30 height-attraction">
                        <h5>Nearby Attraction</h5>
                        <jcms:module:inner-nearby-detail/>
                    </div>

                    <!-- Booking From -->
                    <div class="col-md-5 offset-md-2">
                        <div class="booking-box">
                            <jcms:module:office_map/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="owl-carousel owl-theme">
                        <div class="clients-logo">
                            <a href="https://www.agoda.com/hotel-ambassador-by-ace-hotels_3/hotel/kathmandu-np.html?cid=1844104" target="_blank"><img src="img/clients/ag.png" alt=""></a>
                        </div>
                        <div class="clients-logo">
                            <a href="https://www.booking.com/hotel/np/ambassador-kathmandu.html" target="_blank"><img src="img/clients/bo.png" alt=""></a>
                        </div>
                        <div class="clients-logo">
                            <a href="https://www.expedia.com/Kathmandu-Hotels-Hotel-Ambassador-By-ACE-Hotels.h4632443.Hotel-Information" target="_blank"><img src="img/clients/ex.png" alt=""></a>
                        </div>
                        <div class="clients-logo">
                            <a href="https://www.makemytrip.com/hotels-international/nepal/kathmandu-hotels/hotel_ambassador_by_ace_hotels-details.html" target="_blank"><img src="img/clients/ma.png" alt=""></a>
                        </div>
                        <div class="clients-logo">
                            <a href="https://www.tripadvisor.com/Hotel_Review-g293890-d12081067-Reviews-Hotel_Ambassador_by_ACE_Hotels_Kathmandu-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Cent.html" target="_blank"><img src="img/clients/ta.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->




    <jcms:module:footer/>

    <jcms:module:popup/>

    <jcms:module:inner-nearby-detail-modals/>


    
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
        $(function () {
            // console.log('works');
            $("#checkin").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 'dateToday',
                onSelect: function (dateText) {
                    var nextDay = new Date(dateText);
                    nextDay.setDate(nextDay.getDate() + 1);
                    $("#checkout").datepicker().datepicker("setDate", nextDay);
                    $("#checkout").datepicker().datepicker('option', 'minDate', nextDay);
                }
            }).datepicker("setDate", new Date());
    
            $("#checkout").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 'today' + 1,
            }).datepicker("setDate", new Date());
        });
    </script>

    
    <script>
            // Navbar scrolling background
    wind.on("scroll", function () {
        var bodyScroll = wind.scrollTop(),
            navbar = $(".navbar"),
            logo = $(".navbar .logo> img");
        if (bodyScroll > 100) {
            navbar.addClass("nav-scroll");
            logo.attr('src', '<jcms:module:logo-dark/>');
        } else {
            navbar.removeClass("nav-scroll");
            logo.attr('src', '<jcms:module:logo-light/>');
        }
    });
    </script>

    
<script>
    jQuery(function($){
       $('.splashbg').toggleClass('hidden');
       if($(window).width()>$(window).height()){
           $('.cstm_modal').height('600px');
            $('.cstm_modal img').css({height:'100%'});
           
       }else{
           $('.cstm_modal').width($(window).width()-15);
            $('.cstm_modal img').css({width:'100%'});
       }
       
       $('.closepop, .splashbg').on('click', function(){
           $('.splashbg').remove();
       })
           });
</script>


<!-- dynamic popup -->


<script type="text/javascript">
    $(document).ready(function () {
        // $("#modal-popup-video").modal('show');
        // $('#modal-popup-video').on('hidden.bs.modal', function () {
        //     $("#modal-popup-image").modal('show');
        //     console.log("video closed")
        //     $("#modal-popup-video iframe").attr("src", "");
        // });
        // if ($('#modal-popup-video')[0]) {
        //     $("#modal-popup-image").modal('hide');
        // } else {
        //     $("#modal-popup-image").modal('show');
        // }



        const myModal = new bootstrap.Modal('#modal-popup-image');
        myModal.show();
        
        const carousel = new bootstrap.Carousel('#myCarousel')
    });
</script>
</body>
</html>