<!DOCTYPE html>
<html lang="en">
  <head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./logo/favicon-16x16.png"
    />
    <link rel="manifest" href="./logo/site.webmanifest" />

    <link rel="stylesheet" href="./css/links.css" />

    <script src='https://cdn.tailwindcss.com'></script>
    <link rel="stylesheet" href="dist/output.css" />
    <style>
      .filter-btn {
        padding: 8px 16px;
        transition: background-color 0.3s, color 0.3s;
      }

      .filter-btn.active {
        background-color: #ef4c23;
        color: #ffffff;
      }
    </style>
  </head>

  
  <body class="bg-[#6b7e42]">
    <jcms:module:header/>


    <jcms:module:gallery-list-bred/>

    <jcms:module:gallery-list/>


    <jcms:module:footer/>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>

    <!-- gallery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js'></script>
    <!-- aos animation -->
    <script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>

    <script src='template/web/js/gallery.js'></script>
    <script src='template/web/js/app.js'></script>
  </body>
</html>
