<!DOCTYPE html>
<html lang="en">
  <head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./logo/favicon-16x16.png"
    />
    <link rel="manifest" href="./logo/site.webmanifest" />

    <link rel="stylesheet" href="./css/links.css" />

    <script src='https://cdn.tailwindcss.com'></script>
    <link rel="stylesheet" href="dist/output.css" />

    <link rel="stylesheet" href='https://unpkg.com/aos@next/dist/aos.css' />

    <style>
      html {
        max-width: 100%;
        overflow-x: hidden;
      }
      /* .bg-overlay::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      } */
      .filter-btn {
        padding: 8px 16px;
        transition: background-color 0.3s, color 0.3s;
      }

      .filter-btn.active {
        background-color: #ef4c23;
        color: #ffffff;
      }
    </style>
  </head>

  <!-- Messenger Chat Plugin Code -->
  <div id="fb-root"></div>

  <!-- Your Chat Plugin code -->
  <div id="fb-customer-chat" class="fb-customerchat"></div>

  <script>
    var chatbox = document.getElementById("fb-customer-chat");
    chatbox.setAttribute("page_id", "109491878578909");
    chatbox.setAttribute("attribution", "biz_inbox");
  </script>

  <!-- Your SDK code -->
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: "v18.0",
      });
    };

    (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  </script>

  <body class="overflow-x-hidden bg-[#6b7e42]">
    <jcms:module:header/>

    <!-- ====== Hero Section -->
    <jcms:module:slideshow/>

    <!-- ====== About Section -->
    <jcms:module:home-article/>

    <!-- ====== Service Section -->
    <section class="mt-10 container mx-auto">
      <div class="py-2 px-4">
        <div data-aos="fade-right" data-aos-delay="100">
          <h3
            class="text-3xl md:text-4xl font-bold uppercase pt-5 text-[#f5f5dc]"
          >
            Resort Offers
          </h3>
          <span class="font-bold text-[#f5f5dc]/80"
            >Great offers are at your service.
          </span>
        </div>
        <div class="w-1/4 h-1 rounded-full bg-[#f5f5dc]/40"></div>
      </div>
      <div class="flex items-center justify-center p-4">
        <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4">
          <jcms:module:home-packagelist-service/>
        </div>
      </div>
    </section>

    <!-- ====== Gallery Section -->

    <main class="my-10 p-4">
      <div class="container mx-auto py-5">
        <div
          class="flex flex-col md:flex-row items-center justify-between gap-4 my-7"
        >
          <div class="py-2">
            <div
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine"
            >
              <h3 class="text-4xl font-bold uppercase pt-5 text-[#f5f5dc]">
                Gallery
              </h3>
              <span class="font-bold text-[#f5f5dc]/80"
                >Unwind & Relax at Naikap Village Resort</span
              >
            </div>
            <div class="w-1/4 h-1 rounded-full bg-[#f5f5dc]/40"></div>
          </div>
          <div
            class="flex items-center justify-center space-x-4 h-1/2"
            data-aos="fade-left"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
          >
            <button
              class="filter-btn block bg-gray-300 text-gray-800 py-2 text-center rounded-md active"
              data-filter="all"
            >
              All
            <jcms:module:galleryHomelist/>
          </div>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
        >
          <!-- Gallery Item 1 -->
          <jcms:module:galleryHome/>
        </div>
      </div>
    </main>

    <!-- ====== Background Section -->
    <!-- <section class="w-[100vw] h-64 lg:h-[100vh] bg-red-600">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/V33Xg0PbZcM?si=I3_KmYiGfgGsQSB8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        muted="true"
        playsinline="true"
        data-autoplay="true"
        allowfullscreen="true"
      ></iframe>
    </section> -->
    <jcms:module:home-video/>

    <!-- ====== Testimonials Section -->
    <section class="container mx-auto p-4">
      <div class="py-2">
        <div
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        >
          <h3 class="text-4xl font-bold uppercase pt-5 text-[#f5f5dc]">
            Happy Guests
          </h3>
          <span class="font-bold text-[#f5f5dc]/80"
            >What our guest have to say about us</span
          >
        </div>
        <div class="w-1/4 h-1 rounded-full bg-[#f5f5dc]/40"></div>
      </div>
      <div class="glide py-8 md:py-12 w-full lg:w-4/6 mx-auto">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <!-- Testimonial 1 -->
           <jcms:module:testimonialList123/>
          </ul>
        </div>

        <!-- Navigation Buttons -->
        <div
          class="hidden glide__arrows md:flex items-center justify-center gap-5 mt-8"
          data-glide-el="controls"
        >
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i
              class="fa-solid fa-chevron-left text-2xl bg-[#f5f5dc] text-gray-800 px-4 py-2 rounded-lg hover:opacity-60 transition-all duration-150 ease-in-out"
            ></i>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i
              class="fa-solid fa-chevron-right text-2xl bg-[#f5f5dc] text-gray-800 px-4 py-2 rounded-lg hover:opacity-60 transition-all duration-150 ease-in-out"
            ></i>
          </button>
        </div>
      </div>
    </section>

    <jcms:module:footer/>
    

    <!-- <div
      id="whatsapp-icon"
      class="fixed right-5 bottom-24 z-[99] w-16 h-16 rounded-full bg-white shadow-lg hover:shadow-xl flex items-center justify-center transition-all duration-150 ease-in-out"
    >
      <a href="" class="transform transition-transform scale-110"
        ><i class="fa-brands fa-whatsapp text-[2.5rem] text-green-600"></i
      ></a>
    </div> -->
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"></div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <!-- hero section -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <!-- gallery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js'></script>
    <!-- testimonials carousel -->
    <script src='https://cdn.jsdelivr.net/npm/@glidejs/glide'></script>

    <!-- aos animation -->
    <script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>

    <script src="./js/hero.js"></script>
    <script src="./js/gallery.js"></script>
    <script src="./js/testimonial.js"></script>
    <script src="./js/fbchat.js"></script>
    <script async defer src="./js/app.js"></script>

    <script>
      function toggleWhatsAppIcon() {
        var whatsappIcon = document.getElementById("whatsapp-icon");
        var scrollPosition =
          window.scrollY || document.documentElement.scrollTop;

        // Adjust the scroll threshold as needed
        var scrollThreshold = 200;

        // Toggle the 'hidden' class based on scroll position
        if (scrollPosition > scrollThreshold) {
          whatsappIcon.classList.remove("hidden");
        } else {
          whatsappIcon.classList.add("hidden");
        }
      }

      // Attach the toggle function to the scroll event
      document.addEventListener("scroll", toggleWhatsAppIcon);
    </script>
  
  </body>
</html>
